<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"/>
<body class="">
<div class="wrapper">
    <div th:replace="common/header :: common-sidebar"/>

    <div class="main-panel">
        <!-- Navbar -->
        <div th:replace="common/header :: common-navbar"/>
        <!-- End Navbar -->

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="color:red;" th:text="${errorMessage}"></h5>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="common/footer :: footer"></div>

    </div>
</div>
</body>
</html>
