<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>

<body>
<div class="wrapper">
    <div th:replace="common/header ::common-sidebar"/>
    <div class="main-panel">
        <div th:replace="common/header :: common-navbar"/>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <!--add form-->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">

                                <div class="card card-pad">
                                    <h5 style="color:black;font-weight:bold;"><i>Add Role - Module</i></h5>
                                    <form action="#" method="post" id="addRoleModuleForm" >
                                        <div class="row">
                                            <input type="hidden" id="roleId">

                                            <div class="col-md-4">
                                                <div><label class="dpxImportLabel">Select role</label></div>
                                                <div>
                                                    <select required class="js-example-basic-multiple" id="roleSelect">
                                                        <option th:each="role : ${roles}" th:value="${role.id}"
                                                                th:text="${role.name}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div><label class="dpxImportLabel">Select module</label></div>
                                                <div>
                                                    <select required
                                                            multiple="multiple"
                                                            data-live-search="true"
                                                            class="custom-select"
                                                            id="modulesSelect"
                                                    >
                                                        <option th:each="module : ${modules}" th:value="${module.id}"
                                                                th:text="${module.moduleAbbreviation}+' ( '+${module.moduleName}+' )'">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-2">
                                                <button type="submit" class="btn btn-primary btnStyle">submit</button>
                                                <button type="reset" class="btn btn-warn btnStyle">reset</button>
                                            </div>
                                            <div class="col-md-12" id="addingUserMessage"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--add form close-->


                        <!--table ui-->
                        <div class="card card-pad">
                            <h5 style="color:black;font-weight:bold;"><i>Role Module Setup</i></h5>
                            <div class="table-responsive">
                                <table id="exampleTable" class="table">
                                    <thead>
                                    <tr>
                                        <th>S.N.</th>
                                        <th>Role</th>
                                        <th>Modules</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="_rModule,i : ${roleModuleList}">
                                        <td th:text="${i.count}"></td>
                                        <td th:text="${_rModule.getRoleName()}"></td>
                                        <td th:text="${#strings.listJoin(_rModule.getModuleAbbrList(),',')}">
                                        </td>
                                        <td>
                                            <button class="btn-sm btn-outline-primary btn"
                                                    th:onclick='editMe([[${{_rModule.roleId}}]])'>
                                                edit
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--table ui-->

                    </div>
                </div>
            </div>
        </div>
        <div th:replace="common/footer :: footer"></div>
        <div th:replace="common/footer :: scriptone"></div>
    </div>
</div>
<script th:src="@{/assets/js/select2.min.js}"></script>
<script th:src="@{/assets/js/cdn.datatable.js}"></script>
<script>

    $('#addRoleModuleForm #modulesSelect').select2();

    $("#addRoleModuleForm").submit(function (e) {
        e.preventDefault();
        let requestData = {
            "id": $('#id').val(),
            "roleId": $('#roleSelect').val(),
            "modules": $('#modulesSelect').val(),
            "status": 1
        }

        console.log(JSON.stringify(requestData));
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(requestData),
            url: RELATIVE_URL_INIT+`admin/roleModule_/`,
            success: () => {
                window.location.reload();
            },
            error: err => {
                console.log('err ', err.message);
            }
        });
    })

    $('#exampleTable').DataTable();

    function showSpinner() {
        document.getElementById("loadingMessage").innerHTML = "Fetching list, please wait...";
    }

    setTimeout(function () {
        document.getElementById("messageField").setAttribute("style", "display:none;");
    }, 30000);


    function editMe(id) {
        const URL = RELATIVE_URL_INIT+`admin/roleModule_/getRoleModule/${id}`;

        $.ajax({
            url: URL,
            type: 'get',
            contentType: 'application/json',
            dataType: 'json',
            success: function (role) {
                $('#roleId').val(role.id);
                $('#roleSelect').val(role.id);
                $('#modulesSelect').val(role.modules);
            }
        });
    }
</script>
</body>
</html>